.footer-outer {
  background: #3B4046;
  border-radius: 5px 5px 0 0 ;
  padding: 2% 4%;
}
.footer-heading,
.footer-inner-heading,
.footer-address,
.footer-queary-heading {
  color: #fff;
}
.footer-heading::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid #f7c02d;
}
.footer-address a {
  text-decoration: none;
  color: #fff;
}
.map {
  width: 100%;
  height: 30vh;
}
